{% extends 'base-home.html' %}

{% load static %}

{% block main_content %}
<main id="content" class="site-main">
   <!-- Inner Banner html start-->
   <section class="inner-banner-wrap">
      <div class="inner-baner-container" style="background-image: url({% static 'home/assets/images/inner-banner.jpg' %});">
         <div class="container">
            <div class="inner-banner-content">
               <h1 class="inner-title">Package Offer</h1>
            </div>
         </div>
      </div>
      <div class="inner-shape"></div>
   </section>
   <!-- Inner Banner html end-->
   <section class="package-offer-wrap">
      <!-- special section html start -->
      <div class="special-section">
         <div class="container">
            <div class="special-inner">
               <div class="row">
                  {% for of in offers %}
                  <div class="col-md-6 col-lg-4">
                     <div class="special-item">
                        <figure class="special-img">
                           <img src="{{ of.tour_package.image.url }}" alt="">
                        </figure>
                        <div class="badge-dis">
                           <span>
                              <strong>{{ of.discount_percentage | floatformat:1 }}%</strong>
                              off
                           </span>
                        </div>
                        <div class="special-content">
                           <div class="meta-cat">
                              <a href="{% url 'Home:package-detail' of.tour_package.slug of.tour_package.pk %}">{{ of.tour_package.location.name }}</a>
                           </div>
                           <h3>
                              <p style="color: black; font-family: 'Courier New', Courier;font-size: small;">{{ of.description }}</p>
                           </h3>
                           <div class="package-price">
                              Price:
                              <del>${{ of.tour_package.price }}</del>
                              <ins>${{ of.new_price }}</ins>
                           </div>
                        </div>
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </div>
         </div>
      </div>
      <!-- special html end -->
      <div class="contact-section">
         <div class="container">
            <div class="row">
               <div class="col-lg-4">
                  <div class="contact-img" style="background-image: url({% static 'home/assets/images/img24.jpg' %});">
                  </div>
               </div>
               <div class="col-lg-8">
                  <div class="contact-details-wrap">
                     <div class="row">
                        <div class="col-sm-4">
                           <div class="contact-details">
                              <div class="contact-icon">
                                 <img src="{% static 'home/assets/images/icon12.png' %}" alt="">
                              </div>
                              <ul>
                                 <li>
                                    <a href="#">support@gmail.com</a>
                                 </li>
                                 <li>
                                    <a href="#">info@domain.com</a>
                                 </li>
                                 <li>
                                    <a href="#">name@company.com</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="contact-details">
                              <div class="contact-icon">
                                 <img src="{% static 'home/assets/images/icon13.png' %}" alt="">
                              </div>
                              <ul>
                                 <li>
                                    <a href="#">+132 (599) 254 669</a>
                                 </li>
                                 <li>
                                    <a href="#">+123 (669) 255 587</a>
                                 </li>
                                 <li>
                                    <a href="#">+01 (977) 2599 12</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-sm-4">
                           <div class="contact-details">
                              <div class="contact-icon">
                                 <img src="{% static 'home/assets/images/icon14.png' %}" alt="">
                              </div>
                              <ul>
                                 <li>
                                    3146 Koontz, California
                                 </li>
                                 <li>
                                    Quze.24 Second floor
                                 </li>
                                 <li>
                                    36 Street, Melbourne
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="contact-btn-wrap">
                     <h3>LET'S JOIN US FOR MORE UPDATE !!</h3>
                     <a href="#" class="button-primary">LEARN MORE</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</main>
{% endblock main_content %}