{% extends 'base-home.html' %}
{% load static %}
{% block main_content %}
<main id="content" class="site-main">
   <!-- Inner Banner html start-->
   <section class="inner-banner-wrap">
      <div class="inner-baner-container" style="background-image: url({% static 'home/assets/images/clients/convetion.jpg' %});">
         <div class="container">
            <div class="inner-banner-content">
               <h1 class="inner-title">Services</h1>
            </div>
         </div>
      </div>
      <div class="inner-shape"></div>
   </section>
   <!-- Inner Banner html end-->
   <!-- service html start -->
   <div class="service-page-section">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="service-content-wrap">
                  <div class="service-content">
                     <div class="service-header">
                        <span class="service-count">
                           01.
                        </span>
                        <h3> Tour Operators</h3>
                     </div>
                     <p>Our experienced tour operators craft unforgettable travel experiences, ensuring
                         every detail is meet to your preferences. From guided excursions to curated itineraries,
                          we bring your dream adventures to life.  
                     </p>
                  </div>
                  <figure class="service-img">
                     <img src="{% static 'home/assets/images/clients/life.jpg' %}" alt="">
                  </figure>
               </div>
            </div>
            <div class="col-md-6">
               <div class="service-content-wrap">
                  <div class="service-content">
                     <div class="service-header">
                        <span class="service-count">
                           02.
                        </span>
                        <h3>Car Rental (Transportation)</h3>
                     </div>
                     <p> Enjoy hassle-free transportation with our reliable car rental services.
                         We offer a range of comfortable and well-maintained vehicles to suit your
                          journey, ensuring safe and seamless travel.  
                     </p>
                  </div>
                  <figure class="service-img">
                     <img src="{% static 'home/assets/images/clients/car.jpeg' %}" alt="">
                  </figure>
               </div>
            </div>
            <div class="col-md-6">
               <div class="service-content-wrap">
                  <div class="service-content">
                     <div class="service-header">
                        <span class="service-count">
                           03.
                        </span>
                        <h3>Accommodations </h3>
                     </div>
                     <p> Relax and unwind in our carefully selected accommodations. Whether you prefer
                         luxurious resorts, cozy boutique hotels, or budget-friendly stays, we provide options
                          to match your style and budget.</p>
                  </div>
                  <figure class="service-img">
                     <img src="{% static 'home/assets/images/clients/acomodation.jpg' %}" alt="">
                  </figure>
               </div>
            </div>
            <div class="col-md-6">
               <div class="service-content-wrap">
                  <div class="service-content">
                     <div class="service-header">
                        <span class="service-count">
                           04.
                        </span>
                        <h3> Meals</h3>
                     </div>
                     <p>Savor the flavors of your destination with our curated meal options.
                         From local delicacies to international cuisine, we cater to your dietary
                          needs and preferences for a delightful dining experience.</p>
                  </div>
                  <figure class="service-img">
                     <img src="{% static 'home/assets/images/clients/meal.jpg' %}" alt="">
                  </figure>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- service html end -->
   <!-- callback section html start -->
   <section class="bg-img-callback" style="background-image: url({% static 'home/assets/images/clients/mountains.jpg' %});">
      <div class="container">
         <div class="row align-items-center justify-content-between">
            <div class="col-lg-9 col-md-8">
               <div class="callback-content">
                  <h2>Join Us for Updates and Inspiration</h2>
                  <p>Stay connected with Asher Safaris for the latest updates, travel tips, and stories from Rwanda’s hidden gems. Be the first to know about exclusive tours and events. Sign up now and let the adventure come to you!
                  </p>
               </div>
            </div>
            <div class="col-lg-3 col-md-4">
               <div class="button-wrap">
                  <a href="#" class="button-secondary">Join Us</a>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- callback html end -->
</main>
{% endblock main_content %}