{% extends 'base-auth.html' %}
{% load static %}
{% block auth_content %}
<form class="login-from">
    <h1 class="site-title">
        <a href="#">
            <img src="{% static 'home/assets/images/asha-logo.png' %}" alt="">
        </a>
    </h1>
    <div class="form-group">
        <label for="first_name1">User Name</label>
        <input type="text" class="validate">
    </div>
    <div class="form-group">
        <a class="button-primary" href="{% url 'Asher_admin:dashboard' %}">Submit</a>
    </div>
    <a href="{% url 'authentication:login' %}" class="for-pass">Login</a>
</form>
{% endblock auth_content %}