{% extends 'base-auth.html' %}

{% load static %}
{% block auth_content %}
<form class="login-from" method="post">
    {% csrf_token %}
    <h1 class="site-title">
            <img src="{% static 'home/assets/images/asha-logo.png' %}" alt="">
    </h1>
    <div class="form-group">
        <label for="first_name1">Email</label>
        <input name="email" type="email" class="validate">
    </div>
    <div class="form-group">
        <label for="last_name">Password</label>
        <input id="last_name" type="password" class="validate">
    </div>
    <div class="form-group">
        <button type="submit" class="button-primary" style="width: 100%;border: none;">Login</button>
    </div>
    <a href="{% url 'authentication:forgot' %}" class="for-pass">Forgot Password?</a>
</form>
{% endblock auth_content %}